{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="title">Список всех сотрудников</h1>

    <!-- Форма фильтрации -->
    <div class="background">
            <form method="get" action="{% url 'home' %}" class="form-append">
                <div id="response"></div> <!-- Место для отображения ошибок или сообщений -->

                {% csrf_token %}

                <div class="form-group">
                    <label for="position" style="color: white;">Должность:</label>
                    <input class="textarea" name="position" placeholder="Введите должность" type="text" value="{{ form.position.value|default:'' }}">
                    {% if form.position.errors %}
                        <div class="error">{{ form.position.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="rank" style="color: white;">Звание:</label>
                    <input class="textarea" name="rank" placeholder="Введите звание" type="text" value="{{ form.rank.value|default:'' }}">
                    {% if form.rank.errors %}
                        <div class="error">{{ form.rank.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="education" style="color: white;">Образование:</label>
                    <input class="textarea" name="education" placeholder="Введите образование" type="text" value="{{ form.education.value|default:'' }}">
                    {% if form.education.errors %}
                        <div class="error">{{ form.education.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="classiness" style="color: white;">Классность:</label>
                    <input class="textarea" name="classiness" placeholder="Введите классность" type="text" value="{{ form.classiness.value|default:'' }}">
                    {% if form.classiness.errors %}
                        <div class="error">{{ form.classiness.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="family_status" style="color: white;">Семейное положение:</label>
                    <input class="textarea" name="family_status" placeholder="Введите семейное положение" type="text" value="{{ form.family_status.value|default:'' }}">
                    {% if form.family_status.errors %}
                        <div class="error">{{ form.family_status.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <button class="btn" type="submit">Фильтровать</button>
                </div>

            </form>
    </div>
    {% if employees %}
        {% for employee in employees %}
            <div class="content">
                <div class="content-header">
                    <div class="background">
                        <img src="{{ employee.thumbnail.url }}" alt="{{ employee.name }}" width="250"/>
                        <p class="text-range">ФИО: {{ employee.surname }} {{ employee.name }} {{ employee.patronymic }}</p>
                        <p class="text-range">Должность: {{ employee.position }}</p>
                        <p class="text-range">Звание: {{ employee.rank }}</p>
                        <form class="form" action="{{ employee.get_absolute_url }}" method="get">
                            <button class="btn" type="submit">Подробнее</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% include 'pagination.html' %}
    {% else %}
        <p class="text-range">Нет сотрудников для отображения.</p>
    {% endif %}
</div>
{% endblock %}