<div class="container">
    <div class="content">
        <div class="content-header">
            <h2 class="subtitle">Добавление сотрудника</h2>
            <h1 class="title">Заполните форму добавления сотрудника</h1>
        </div>
        <div class="background">
            <form method="post" enctype="multipart/form-data" class="form-append"
                  hx-post="{% url 'employee_create' %}"
                  hx-target="#search-results"
                  hx-swap="innerHTML">
                {% csrf_token %}

                <div id="response"><!-- Место для отображения ошибок или сообщений -->

                {% if form.non_field_errors %}
                    <div class="error">{{ form.non_field_errors }}</div>
                {% endif %}

                <div class="form-group">
                    <label for="username" style="color: white;">Логин:</label>
                    <input class="textarea" name="username" placeholder="Введите логин" type="text" value="{{ form.username.value|default:'' }}">
                    {% if form.username.errors %}
                        <div class="error">{{ form.username.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="password" style="color: white;">Пароль:</label>
                    <input class="textarea" name="password" placeholder="Введите пароль" type="password" value="{{ form.password.value|default:'' }}">
                    {% if form.password.errors %}
                        <div class="error">{{ form.password.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="surname" style="color: white;">Фамилия:</label>
                    <input class="textarea" name="surname" placeholder="Введите фамилию" type="text" value="{{ form.surname.value|default:'' }}">
                    {% if form.surname.errors %}
                        <div class="error">{{ form.surname.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="name" style="color: white;">Имя:</label>
                    <input class="textarea" name="name" placeholder="Введите имя" type="text" value="{{ form.name.value|default:'' }}">
                    {% if form.name.errors %}
                        <div class="error">{{ form.name.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="patronymic" style="color: white;">Отчество:</label>
                    <input class="textarea" name="patronymic" placeholder="Введите отчество" type="text" value="{{ form.patronymic.value|default:'' }}">
                    {% if form.patronymic.errors %}
                        <div class="error">{{ form.patronymic.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="education" style="color: white;">Образование:</label>
                    <input class="textarea" name="education" placeholder="Образование" type="text" value="{{ form.education.value|default:'' }}">
                    {% if form.education.errors %}
                        <div class="error">{{ form.education.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="birthday" style="color: white;">Дата рождения:</label>
                    <input class="textarea" name="birthday" placeholder="Выберите дату рождения" type="date" value="{{ form.birthday.value|default:'' }}">
                    {% if form.birthday.errors %}
                        <div class="error">{{ form.birthday.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="position" style="color: white;">Должность:</label>
                    <input class="textarea" name="position" placeholder="Введите должность" type="text" value="{{ form.position.value|default:'' }}">
                    {% if form.position.errors %}
                        <div class="error">{{ form.position.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="rank" style="color: white;">Звание:</label>
                    <input class="textarea" name="rank" placeholder="Введите звание" type="text" value="{{ form.rank.value|default:'' }}">
                    {% if form.rank.errors %}
                        <div class="error">{{ form.rank.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group" style="margin-bottom: 30px;">
                    <label for="classiness" style="color: white;">Классность:</label>
                    <input class="textarea" name="classiness" placeholder="Введите классность" type="text" value="{{ form.classiness.value|default:'' }}">
                    {% if form.classiness.errors %}
                        <div class="error">{{ form.classiness.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="number" style="color: white;">Номер:</label>
                    <input class="textarea" name="number" placeholder="Введите номер" type="text" value="{{ form.number.value|default:'' }}">
                    {% if form.number.errors %}
                        <div class="error">{{ form.number.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="badge" style="color: white;">Значок:</label>
                    <input class="textarea" name="badge" placeholder="Введите значок" type="text" value="{{ form.badge.value|default:'' }}">
                    {% if form.badge.errors %}
                        <div class="error">{{ form.badge.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="family_status" style="color: white;">Семейное положение:</label>
                    <input class="textarea" name="family_status" placeholder="Введите семейное положение" type="text" value="{{ form.family_status.value|default:'' }}">
                    {% if form.family_status.errors %}
                        <div class="error">{{ form.family_status.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="phone_number" style="color: white;">Номер телефона:</label>
                    <input class="textarea" name="phone_number" placeholder="Введите номер телефона" type="text" value="{{ form.phone_number.value|default:'' }}">
                    {% if form.phone_number.errors %}
                        <div class="error">{{ form.phone_number.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="email" style="color: white;">Электронная почта:</label>
                    <input class="textarea" name="email" placeholder="Введите электронную почту" type="email" value="{{ form.email.value|default:'' }}">
                    {% if form.email.errors %}
                        <div class="error">{{ form.email.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="date_came_service" style="color: white;">Дата поступления на службу:</label>
                    <input class="textarea" name="date_came_service" placeholder="Выберите дату поступления" type="date" value="{{ form.date_came_service.value|default:'' }}">
                    {% if form.date_came_service.errors %}
                        <div class="error">{{ form.date_came_service.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="thumbnail" style="color: white;">Изображение (URL):</label>
                    <input class="textarea" name="thumbnail" placeholder="Выберите изображение" type="file" accept="image/*">
                    {% if form.thumbnail.errors %}
                        <div class="error">{{ form.thumbnail.errors }}</div>
                    {% endif %}
                </div>
                </div>
                <div class="form-group">
                    <button class="btn" type="submit">Добавить сотрудника</button>
                </div>

            </form>
        </div>
    </div>
</div>