<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="icon" type="image/png" href="/static/image/favicon.png">
    <title>Educator</title>
</head>
<body>

    <div class="page">

        <!-- Header -->
        <header class ="header">
            <div class="container">
                <div class="header-inner">
                    <div class="header-brand">
                        Educator
                    </div>

                    <div class="header-logo">
                    </div>

                    <nav class="header-nav">
                        <a class="header-nav-link " href="/">Главная</a>
                        <a class="header-nav-link active" href="append_employee">Добавить</a>
                        <a class="header-nav-link" href="directory">Справочник</a>
                    </nav>
                </div>
            </div><!-- /.container -->
        </header>


        <!-- Main -->
        <div class="container">
            <div class="content">
                <div class="content-header">
                    <div class="content-header">
                    <h2 class="subtitle">Educator</h2>
                    <h1 class="title">Заполните форму регистрации сотрудника <span>"Озинки-автодорожное"</span></h1>
                     </div>
                    <form class="form-append" action="/search" method="get">
                    <input class="textarea" name="id" placeholder="Фамилия:" type="search">
                    <input class="textarea" name="id" placeholder="Имя:" type="search">
                    <input class="textarea" name="id" placeholder="Отчество:" type="search">
                    <input class="textarea" name="id" placeholder="Дата рождения:" type="search">
                    <input class="textarea" name="id" placeholder="Семейное положение:" type="search">
                    <input class="textarea" name="id" placeholder="Адрес проживания:" type="search">
                    <input class="textarea" name="id" placeholder="Дата подписания контракта:" type="search">
                    <input class="textarea" name="id" placeholder="Должность:" type="search">
                    <input class="textarea" name="id" placeholder="Дата и № приказа о назначении:" type="search">
                    <input class="textarea" name="id" placeholder="Классность:" type="search">
                    <input class="textarea" name="id" placeholder="Дата присвоения классности:" type="search">
                    <input class="textarea" name="id" placeholder="Номер знака:" type="search">
                    <input class="textarea" name="id" placeholder="Номер штампа:" type="search">
                    <input class="textarea" name="id" placeholder="Имеется ли т/с:" type="search">
                    <input class="textarea" name="id" placeholder="№ водительского удостоверения:" type="search">
                    <input class="textarea" name="id" placeholder="№ паспорта:" type="search">
                    <input class="textarea" name="id" placeholder="Кол-во поощрений:" type="search">
                    <input class="textarea" name="id" placeholder="Кол-во взысканий:" type="search">
                    <input class="textarea" name="id" placeholder="Образование:" type="search">
                    <input class="textarea" name="id" placeholder="Направление образования:" type="search">
                    <input class="textarea" name="id" placeholder="Состоит ли в РСО:" type="search">
                    <input class="textarea" name="id" placeholder="Группа риска:" type="search">
                    <input class="textarea" name="id" placeholder=":" type="search">
                    <input class="textarea" name="id" placeholder=":" type="search">
                    <input class="textarea" name="id" placeholder=":" type="search">
                    <input class="textarea" name="id" placeholder="Доп. информация:" type="search">
                    <button class="btn" type="submit">Добавить</button>
                </form>
                </div>
            </div>
        </div>


        <!-- Footer -->
        <footer class="footer-dynamic">
            <div class="container">
                <div class="copyright">
                    <p class="copyright-link"> © Все права защищены</p>
                </div>
            </div>
        </footer>


    </div><!-- /.page -->

</body>
</html>