<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>Educator</title>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
</head>
<body>
    <div class="page">
        {% include 'header.html' %}

        <!-- Main -->
        {% block content %}
        {% endblock %}

    </div><!-- /.page -->

    <script>
        // Event handler to clear the form after a successful request
        document.body.addEventListener('htmx:afterSwap', function(event) {
            // Check if the target element is #search-results
            if (event.detail.target.id === 'search-results') {
                // Clear the input field
                document.querySelector('#search-form input[name="surname"]').value = '';
            }
        });
    </script>
    <script>
        // Event handler to clear the filtering form after a successful request
        document.body.addEventListener('htmx:afterSwap', function(event) {
            // Check if the target element is #employee_filtr
            if (event.detail.target.id === 'employee_filtr') {
                // Clear the input fields of the filtering form
                const form = document.getElementById('filter-form');
                const inputs = form.querySelectorAll('input[type="text"], input[type="date"], input[type="email"]');
                inputs.forEach(input => {
                    input.value = ''; // Clear the value of each field
                });
            }
        });
    </script>
</body>

</html>