<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="icon" type="image/png" href="/static/image/favicon.png">
    <title>Educator</title>
</head>
<body>

    <div class="page">

        <!-- Header -->
        <header class ="header">
            <div class="container">
                <div class="header-inner">
                    <div class="header-brand">
                        Educator
                    </div>

                    <div class="header-logo">

                    </div>

                    <nav class="header-nav">
                        <a class="header-nav-link " href="/">Главная</a>
                        <a class="header-nav-link " href="append_employee">Добавить</a>
                        <a class="header-nav-link active" href="directory">Справочник</a>
                    </nav>
                </div>
            </div><!-- /.container -->
        </header>


        <!-- Main -->
        <div class="container">
            <div class="content">

            </div>
        </div>


        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="copyright">
                    <p class="copyright-link"> © Все права защищены</p>
                </div>
            </div>
        </footer>


    </div><!-- /.page -->

</body>
</html>