<!-- Header -->
<header class ="header">
    <div class="container">
        <div class="header-inner">
            <div class="header-brand">
                Educator
            </div>

            <div class="header-logo">
            </div>

            <nav class="header-nav">
                <a class="header-nav-link" href="/">Главная</a>
                <a class="header-nav-link" href="http://127.0.0.1:8000/employees/create/">Добавить</a>
                <a class="header-nav-link" href="directory">Справочник</a>
            </nav>
        </div>
    </div><!-- /.container -->
</header>