<!-- Header -->
<header class ="header">
    <div class="container">
        <div class="header-inner">
            <div class="header-brand">
                Educator
            </div>

            <div class="header-logo">
            </div>

            <nav class="header-nav">
                <a class="header-nav-link" href="/">Главная</a>
                <a class="header-nav-link"
                   href="{% url 'employee_create' %}"
                   hx-get="{% url 'employee_create' %}"
                   hx-target="#search-results"
                   hx-swap="innerHTML">
                    Добавить
                </a>
                <a class="header-nav-link" href="directory">Справочник</a>
            </nav>
        </div>
    </div><!-- /.container -->
</header>