{% if is_paginated %}
    <div class="pagination p-3">
        {% if page_obj.has_previous %}
            <a href="employees/?page=1" class="page-link" hx-get="employees/?page=1" hx-target="#employee-list" hx-swap="innerHTML">«</a>
            <a href="employees/?page={{ page_obj.previous_page_number }}" class="page-link" hx-get="employees/?page={{ page_obj.previous_page_number }}" hx-target="#employee-list" hx-swap="innerHTML">‹</a>
        {% else %}
            <span class="page-link disabled">«</span>
            <span class="page-link disabled">‹</span>
        {% endif %}

        {% for page_number in page_obj.paginator.get_elided_page_range %}
            {% if page_number == page_obj.paginator.ELLIPSIS %}
                <span class="page-link disabled">{{ page_number }}</span>
            {% else %}
                <a href="employees/?page={{ page_number }}" class="page-link {% if page_number == page_obj.number %}active{% endif %}" hx-get="employees/?page={{ page_number }}" hx-target="#employee-list" hx-swap="innerHTML">
                    {{ page_number }}
                </a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="employees/?page={{ page_obj.next_page_number }}" class="page-link" hx-get="employees/?page={{ page_obj.next_page_number }}" hx-target="#employee-list" hx-swap="innerHTML">›</a>
            <a href="employees/?page={{ page_obj.paginator.num_pages }}" class="page-link" hx-get="employees/?page={{ page_obj.paginator.num_pages }}" hx-target="#employee-list" hx-swap="innerHTML">»</a>
        {% else %}
            <span class="page-link disabled">›</span>
            <span class="page-link disabled">»</span>
        {% endif %}
    </div>
{% endif %}
</div>